.footer{
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}
.navbar{
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  background-color: #2c2434;
  font-weight:bolder;
}
.navbar a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #28292b;
  font-weight: 100px;
}

.navbar a:hover{
  color:#69c3ff;
}

.links{
  width: 1200px;
}
.header{
  padding: 3%;
  color: #0e6deb;
}
.nothing_msg{
  padding: 7%;
  color: #0e6deb;
}
.add_btn{
  color: green;
}